.card{
    margin-top: 5px;
    margin-bottom: 15px;
    background:rgb(58, 64, 78);
    color: white;
    text-align:center;
}
img {
    vertical-align: middle;
    height: 350px;
}
.card-title, .card-text{
    margin-left: 5px;
}

.linkItem{
    text-align: center;
   
}
.linkBtn{
    background: rgb(58, 64, 78) !important;
    color: white !important;
    width: 100%;
}
