#content{
  background: grey;
  min-height: 100%;
  height:auto !important; 
  height: 100%; 
}

body > #root > div {
  height: 100vh;
}
.carousel{
  margin-top: 15px;
}
.slick-arrow{
  display: none !important;
}